<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/spring?useSSL=false"/>
        <property name="username" value="root"/>
        <property name="password" value="sung1673"/>
    </bean>

    <bean id="menuUi" class="ui.MenuUi">
        <property name="selectTeamUi" ref="selectTeamUi"/>
        <property name="insertPlayerUi" ref="insertPlayerUi"/>
        <property name="selectPlayerUi" ref="selectPlayerUi"/>
    </bean>

    <bean id="teamDao" class="dao.impl.TeamDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="selectTeamUi" class="ui.SelectTeamUi">
        <property name="teamDao" ref="teamDao"/>
    </bean>

    <bean id="playerDao" class="dao.impl.PlayerDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <bean id="insertPlayerUi" class="ui.InsertPlayerUi">
        <property name="teamDao" ref="teamDao"/>
        <property name="playerDao" ref="playerDao"/>
    </bean>

    <bean id="selectPlayerUi" class="ui.SelectPlayerUi">
        <property name="playerDao" ref="playerDao"/>
        <property name="updatePlayerUi" ref="updatePlayerUi"/>
        <property name="deletePlayerUi" ref="deletePlayerUi"/>
    </bean>
    <bean id="updatePlayerUi" class="ui.UpdatePlayerUi">
        <property name="teamDao" ref="teamDao"/>
        <property name="playerDao" ref="playerDao"/>
    </bean>
    <bean id="deletePlayerUi" class="ui.DeletePlayerUi">
        <property name="playerDao" ref="playerDao"/>
    </bean>
</beans>