<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    <bean id="messageBean" class="spring.practices.MessageBeanImpl">
        <constructor-arg value="Spring"/>
        <property name="greeting" value="Hello,"/>
        <property name="outputter" ref="outputter"/>
    </bean>
    <bean id="outputter" class="spring.practices.FileOutputter">
        <property name="filePath" value="out.txt"/>
    </bean>
</beans>