<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    <bean id="entityManageFactory"
          class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean"
          p:persistenceUnitName="ticketReservation">
    </bean>

    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor">
    </bean>

    <bean id="menuUi" class="ui.MenuUi" p:selectEventUi-ref="selectEventUi" p:selectUserUi-ref="selectUserUi"/>
    <bean id="selectEventUi" class="ui.SelectEventUi" p:eventDao-ref="eventDao"/>
    <bean id="selectUserUi" class="ui.SelectUserUi" p:userDao-ref="userDao" p:ticketDao-ref="ticketDao"/>
    <bean id="eventDao" class="dao.impl.EventDaoImpl"/>
    <bean id="userDao" class="dao.impl.UserDaoImpl"/>
    <bean id="ticketDao" class="dao.impl.TicketDaoImpl"/>

</beans>